<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    <div id="contentBox">

        <h1>Shiro Login</h1>

        <form action="/doLogin" method="POST">
            Username: <input id="username" name="username" type="text"/><br/><br/>
            Password: <input name="password" type="password"/><br/><br/>
            <input type="submit" value="Login"/>
        </form>

        <p>Try logging in with username/passwords: user1/user1 and user2/user2.</p>
    </div>
</body>
</html>